*{
    margin: 0px;
    padding: 0px;
}
#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.photo {
    margin-bottom: 10px;
}

.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
.social-buttons button {
    margin-top: 5px;
}
.postTitle{
    margin-left: -13px;
    margin-top: -8px;
    margin-bottom: -17px;
}
.post{
    margin-left: -5px;
}
.postDescription{
    margin-left: 13px;
    margin-top: 3px;
    margin-right: 5px;
}
#postIMG{
    position	: relative;
    width: 250px;
    cursor: pointer;
}
#uloadText{
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    margin-left: 70px;
}
#removeProfileIMG{
    width: 100%;
    font-size: 15px;
}
#uloadText:hover{
    color:#00b3ee;
    text-decoration: underline;
}
a.logo-link {
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
}
/* Media Queries */
@media (min-width: 768px) {
    .group2 {
        text-align: right;
    }
    .group1 {
        text-align: left;
    }
}
/*hr{
    margin-top: 20px;
    border: 1px solid #aba6a6;
}*/
#logoutButton {
    margin-top: 8px;
}
body{
    background: #cccccc;
    margin-top: 75px;
}
.panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
}
#contentPanel{
    margin: auto;
}
.singlePost{
    min-height: 250px;
    padding-left: 0px;
    padding-right: 0px;
}
.headerDiv{
    margin: auto;
    width: 98%;
}
#photoPanel{
    min-height: 200px;
}
.input-group-addon {
    width:111px;
    text-align:left;
}
.custom-control{
    text-align:center;
}
#panel-title {
    line-height: 10px;
    margin-top: 11px;
    font-size: 19px;
    outline: none;
    color: #000;
}
.text-left {
    text-align: left;
    margin-top: 11px;
    margin-bottom: 3px;
    font-size: 16px;
    outline: none;
    color: #555;
}
.bg-info {
    background-color: #eaeaea;
    padding: 7px;
    border-radius: 7px;
    margin:5px;
}
.panel-heading123 {
    border-bottom: 1px solid #bbb;
    padding-left: 18px;
}
.psw{
    width: 159px;
}
img.nkar {
    display: inline-block;
    max-width: 100%;
    height: 220px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/*search*/
#block-search-result{
    border-left: 1px solid #E1DFDD;
    border-right: 1px solid #E1DFDD;
    border-bottom: 1px solid #E1DFDD;
    width: 400px;
    height:  auto;
    background-color: white;
    position: absolute;
    z-index: 9999;
    display: none;
}
#list-search-result > li{
    border-bottom: 1px solid #EAEAEA;
    min-height: 50px;
    height: auto;
}
#list-search-result > li:hover{
    background-color: #a6e1ec;
}
#search-noresult{
    color: #E96767;
    font: 13px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}
.search-result-image{
    position: absolute;
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}
.serach-result{
    list-style-type: none;
    padding-top: 5px;
}
/*
///////////////////////////*/

/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object {
    max-width: 80px;
    margin-top: 22px;
}
.media-body {
    position: relative;
}
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 13px 0px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 15px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.custom-input-file:hover .uploadPhoto { display: block; }